.colors-title {
  position: relative;
  padding-left: 21px;
  padding-bottom: 18px;

  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 20px;

  color: #333333;

  &::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 1px;
    top: 32%;
    right: calc(100% + -15px);
    transform: translate(0, -50%);
    background-color: #333333;
    opacity: .5;
  } 

  &::after {
    content: attr(data-id);
    position: absolute;
    right: calc(100% + 0px);
  }

  @media ($m-s) {
    padding-left: 80px;
    font-size: 24px;

    &::before {
      content: '';
      position: absolute;
      width: 25px;
      height: 1px;
      top: 32%;
      right: calc(100% + -65px);
      transform: translate(0, -50%);
      background-color: #333333;
      opacity: .5;
    } 
  
    &::after {
      content: attr(data-id);
      position: absolute;
      right: calc(100% + -25px);
    }
  
  }
  @media ($m-m) {
    padding-left: 0;
    font-size: 24px;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 1px;
      top: 50%;
      right: calc(100% + 20px);
      transform: translate(0, -50%);
      background-color: #333333;
      opacity: .5;
    } 
  
    &::after {
      content: attr(data-id);
      position: absolute;
      right: calc(100% + 70px);
    }
  
  }
}

.colors-wrap {
  margin: 20px 35px;
  width: 100%;

  @media ($m-s) {
    margin: 40px 43px;
    width: auto;
  }

  @media ($m-m) {
    margin: 40px -38px;
  }

}

.colors__grid {
  display: flex;
  margin: -45px 0 0 -45px;
  flex-wrap: wrap;
  justify-content: center;

  @media ($m-s) {
    margin: -75px 0 0 -75px;
    flex-wrap: nowrap;
    justify-content: left;
  }
}

.colors__item{
  flex-shrink: 0;
  padding: 45px 0 0 45px;

  @media ($m-s) {
    padding: 75px 0 0 75px;
  }
}

.color__icon {
  width: 75px;
  height: 100px;
  color: #0179C7;

  &--black {
    color: #333333;
  }
  &--grey {
    color: #EDEDED;
  }
  &--white {
    color: #FFFFFF;
  }
}